@import '../../../../../dist/scss/variables.scss';

@font-face {
    font-family: nunito;
    src: url(../../../../../assets/static/Nunito-LightItalic.ttf) format('truetype');
}
@font-face {
    font-family: caveat;
    src: url(../../../../../assets/static/Caveat-SemiBold.ttf)  format('truetype');
}

.header-style{
    width: 100%;
    height: 75px;
    margin: auto;
    font-family: caveat;

    text-align: center;
    color: $secondary-text-color;
    background-color: #FFEA20;
    color: #4f95b3;
}
