@import '../../../../../dist/scss/variables.scss';

@font-face {
    font-family: nunito;
    src: url(../../../../../assets/static/Nunito-LightItalic.ttf);
}

.header-style{
    width: 100%;
    padding: 15px 0;
    font-family: Nunito;

    text-align: center;
    color: $secondary-text-color;
    background-color: #FFEA20;
}