<div class="container header-style shadow-sm p-3 mb-2 rounded">
    <!--<h4  class="" style="color: #021a24">My Task manager</h4> -->
    <div class="d-inline-flex ">
        <div style="margin-right: 15px;">
            <i class="fa fa-bars fa-3x" aria-hidden="true"></i>
        </div>
        <h1> My <b style="color: #3a7c98;">Task</b> Manager </h1>
        <div style="margin-left: 5px;">
            <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
        </div>
        
    </div>
    
</div>

