<div class="no-content-page-body">
    
    <div *ngIf="filter.category.includes('Search'); else noContentImg">
        <img src="assets/img/Shrug-bro-green2.png" class="img-align-center" style="width: 50%; height: 50%;">
        <div class="reference-align">
            <a href="https://storyset.com/people">People illustrations by Storyset</a>
        </div>
    </div>
    <ng-template #noContentImg>
        <img src="assets/img/no-data-cut.png" class="img-align-center" style="width: 70%; height: 70%;">
        <div class="reference-align">
            <a href="https://storyset.com/people">People illustrations by Storyset</a>
        </div>
            
        
        
        
    </ng-template>
    

</div>
