<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
<section class="container left-menu-color" style="width: 30%;">
    <h2>Menu</h2>
    <div class="input-group" style="width: 100%;">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" style="border: 1px; border-color: black; background-color: white;" />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>



    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-5 fw-semibold">Collapsible</span>
        </a>
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Tasks - Dates
            </button>
            <div class="collapse show" id="collapseExample">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a (click)="SelectFilterType('taskDate', 'All')" href="#" class="link-dark rounded">All</a></li>
                <li><a (click)="SelectFilterType('taskDate', 'Today')" href="#" class="link-dark rounded">Today</a></li>
                <li><a (click)="SelectFilterType('taskDate', 'Calendar')" href="#" class="link-dark rounded">Calendar</a></li>
                
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Task - Categories
            </button>
            <div class="collapse  show" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li *ngFor="let item of categories; let i = index" style="background-color: whitesmoke;">
                  <a (click)="SelectFilterType('taskCategory', item.name)" href="#" class="link-dark rounded">{{item.name}}</a>
                  <button (click)="deleteCategory(i, 1)" class="delete-btn">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </li>
                <li><a href="#" (click)="TypeOfAdd(1)" data-bs-toggle="modal" data-bs-target="#modal-id" class="link-dark rounded"><div><i class="fa fa-plus-circle" aria-hidden="true"></i> Add category</div></a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              Data (non task)
            </button>
            <div class="collapse show" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li *ngFor="let item of nonTaskCategories; let j = index" style="background-color: whitesmoke;">
                  <a (click)="SelectFilterType('data', item.name)" href="#" class="link-dark rounded">{{item.name}}</a>
                  <button (click)="deleteCategory(j, 2)" class="delete-btn">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </li>
                <li><a href="#" (click)="TypeOfAdd(2)" data-bs-toggle="modal" data-bs-target="#modal-id" class="link-dark rounded"><div><i class="fa fa-plus-circle" aria-hidden="true"></i> Add category</div></a></li>
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Account
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Save/clear data</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

</section>



<div class="modal fade" id="modal-id" tabindex="-1" aria-labelledby="result-modal-label" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h3>Create a new {{what}}</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body container">
              <div class="container mb-3 text-start mt-2 h-100">
                  <div><label for="output-content" id="output-content-label">New {{what}} name: </label> </div>
                  <input [(ngModel)]="newItemToAdd" #newCategoryInput value="{{newItemToAdd}}" type="text">
              </div>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="AddCategory()">(+) Add</button>
          </div>
      </div>
  </div>
</div>