<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
<section class="container left-menu-color" style="padding-top: 10px;">
    
    <div class="input-group" style="width: 100%;">
        <div class="form-outline">
          <input (keydown.enter)="Search(searchInput);" [(ngModel)]="searchInput" type="search" id="form1" class="form-control" style="border: 1px; border-color: black; background-color: white;" />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary" (click)="Search(searchInput);">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>



    <div class="pt-4 pb-3 bg-white" style="width: 100%;">
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <a href="#" class="align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <div class=" lateral-menu-collapse-btn font-nunito">
                Tasks - Dates
              </div>
            </a>
            <div class="collapse show" id="collapseExample">
              <ul class="ul-menu list-unstyled fw-normal pb-1 small">
                <li  class="li-menu" *ngFor="let item of taskDatesFilter; let i = index">
                  <a (click)="SelectFilterType('taskDate', 'Tasks / Dates / '+item.name)" href="#" class="link-dark rounded li-menu-a">{{item.name}}  ({{item.amount}})</a>
                </li>

              </ul>

            </div>
          </li>
          <li class="mb-1">
            <a href="#" class="align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              <div class=" lateral-menu-collapse-btn font-nunito">
                Task - Categories
              </div>
              
            </a>
            <div class="collapse  show" id="dashboard-collapse">
              <ul class="ul-menu list-unstyled fw-normal pb-1 small">
                <li  class="li-menu" *ngFor="let item of categories; let i = index">
                  <a (click)="SelectFilterType('taskCategory', 'Tasks / Categories / '+item.name)" href="#" class="link-dark rounded li-menu-a">{{item.name}}  ({{item.amount}})</a>
                  <button (click)="deleteCategory(i, 1)" class="delete-btn">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </li>
                <li><a href="#" (click)="TypeOfAdd(1)" data-bs-toggle="modal" data-bs-target="#modal-id" ><div class="link-dark rounded li-menu-a"><i class="fa fa-plus-circle" aria-hidden="true"></i> New category</div></a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <a href="#" class="align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              <div class=" lateral-menu-collapse-btn font-nunito">
                Data (non task)
              </div>
            </a>
            <div class="collapse show" id="orders-collapse">
              <ul class="ul-menu list-unstyled fw-normal pb-1 small">
                <li class="li-menu" *ngFor="let item of nonTaskCategories; let j = index">
                  <a (click)="SelectFilterType('data', 'Data / '+item.name)" href="#" class="link-dark rounded li-menu-a">{{item.name}} ({{item.amount}})</a>
                  <button (click)="deleteCategory(j, 2)" class="delete-btn">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </li>
                <li class="li-menu "><a href="#" (click)="TypeOfAdd(2)" data-bs-toggle="modal" data-bs-target="#modal-id" ><div class="link-dark rounded li-menu-a"><i class="fa fa-plus-circle" aria-hidden="true"></i> New category</div></a></li>
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>
          <li class="mb-1" style="margin-top: 30px;">
            <button class="btn btn-toggle align-items-center rounded collapsed account-btn" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Settings
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a (click)="SelectFilterType('accont', 'Accont')" href="#" class="link-dark rounded">Save/clear data</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

</section>



<div class="modal fade" id="modal-id" tabindex="-1" aria-labelledby="result-modal-label" aria-hidden="true" >
  <div class="modal-dialog" >
      <div class="modal-content" style="background-color: #E3F6FF;">
          <div class="modal-header" style="border-bottom: 1px solid black;">
              <h3>New {{what}}</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body container">
              <div class="container mb-3 text-start mt-2 h-100">
                  <div><label for="output-content" id="output-content-label">Category's name: </label> </div>
                  <input class="form-control" [(ngModel)]="newCategoryInput"  value="{{newCategoryInput}}" type="text">
              </div>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="AddCategory()">(+) Add</button>
          </div>
      </div>
  </div>
</div>