<div class="container" style="width: 100%; height: 100%; display: flex; flex-grow: grow">
    <div style="width: 25%; height: 100%;">
        <app-lateral-menu #filter [IsTheSameWeek]="IsTheSameWeek" [PickWeekOfADay]="PickWeekOfADay" [tasks]="TasksList" [data]="DataList"></app-lateral-menu>
    </div>
    <div style="width: 75%; height: 100%; margin-left: 15px;">
        <app-task-set *ngIf="!filter.filterType.type.includes('accont'); else accont" #set [IsTheSameWeek]="IsTheSameWeek" [FilterData]="filter.FilterData" [FilterTask]="filter.FilterTask" [PickWeekOfADay]="PickWeekOfADay" [taskDatesFilter]="filter.taskDatesFilter" [tasks]="TasksList" [dataCategories]="filter.nonTaskCategories" [data]="DataList" [filter]="filter.filterType" [filtredData]="filter.filtredData" [filtredTasks]="filter.filtredTasks" [taskCategories]="filter.categories"></app-task-set>
        <ng-template #accont><app-accont></app-accont></ng-template>
    </div>
       
</div>


<!--
<section *ngIf="taskList.length>0; else CleanList" class="container">
    <ul>
        <li *ngFor="let item of taskList; let i = index">
            <input type="checkbox" [(ngModel)]="item.checked">
            <input type="text" [(ngModel)]="item.task">
            <button (click)="deleteItem(i)" class="delete-btn">
                [delete]
            </button>
        </li>
    </ul>
</section>
<ng-template #CleanList>
    <img src="https://cdn3.iconfinder.com/data/icons/network-12/64/_Webpage_Sad-512.png">
    <p>You don't have any task!</p>
</ng-template>
<app-todo-input-add-itens (emitItem)="setEmit($event)"></app-todo-input-add-itens>
<app-todo-button-delete-select (click)="deleteSelected()"></app-todo-button-delete-select>
<app-todo-button-delete-all (click)="deleteAll()"></app-todo-button-delete-all>
-->